*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
header{
    position: relative;
width: 100%;
height: 164px;
background-color: rgb(8, 163, 155);
}
.container img{
    position: absolute;
   left: 0;
   right: 0;
   top: 0;
  margin: auto;
  filter: drop-shadow(1px 3px 3px   black);
}
/* -----Navbar  ------- */
.nav-links{
    display: flex;
    padding: 120px 0 0 332px;

}
.nav-links i.fa-magnifying-glass{
    color: #FFFFFF;
   font-size: 0.75rem;
}
.nav-links li{
margin:0 8px;
font-size: 0.875rem;
color: #FFFFFF;
font-family: 'Arial';
font-weight: 600;
font-style: normal;
}
/* ------Section----- */
.content .image{
    /* position: relative;
width: 1008px;

height: 100px; */
/* left: 217px;
top: 0; */

margin: 0 13.563rem;
}
.image img{
    border: 11px solid #FFFFFF;
    filter: drop-shadow(1px 1px 1px rgb(26, 25, 25));
    /* width: 1008px; */
width: 100%;
height: 574px;
}
.content .main{
    position: absolute;
    height: 160px;
    left: 227px;
    right: 227px;
    top: 579px;
    bottom: 0;
    background: linear-gradient(180deg, rgba(174, 66, 116, 0.9) 0%, rgba(97, 113, 188, 0.9) 217.11%);
    
}
.main .infos{
font-family: 'Arial';
font-style: normal;
font-weight: 750;
font-size: 2rem;
line-height: 48px;
text-align: center;

color: #FFFFFF;

}
.main #g{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 1.25rem;
line-height: 48px;
text-align: center;
margin-top: 19px;
color: #FFFFFF;
}
.main .h{
    

    font-family: 'Open Sans', sans-serif;
font-style: italic;
font-weight: 400;
font-size:0.75rem;
line-height: 22px;

text-align: center;

color: #FFFFFF;
}
.main #k{
    color: #FFFFFF;
    font-weight: 800;
    font-style: italic;
}
